.full-trello-user {
  margin: 10px 0;
  padding: 5px; }
  .full-trello-user .avatar {
    width: 80px;
    margin-right: 20px; }
    .full-trello-user .avatar img {
      border-radius: 50%;
      width: 100%; }

.user-list-info-row .list-info-col {
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px; }
.user-list-info-row .list-info-col:first-child {
  border-left: 1px solid black; }

.cards-table {
  margin-top: 40px; }
  .cards-table td.pending {
    box-shadow: inset 7px -2px 0px -2px #ce1179; }
  .cards-table td.inProgress {
    box-shadow: inset 7px -2px 0px -2px #4285f4; }
  .cards-table td.forReviewByKFMC {
    box-shadow: inset 7px -2px 0px -2px #fbbc05; }
  .cards-table td.completed {
    box-shadow: inset 7px -2px 0px -2px #34a853; }
