<div class="be-content">
  <div class="page-head">
    <div class="page-head-left">
      <h2 class="page-head-title">How to do Technical Operations</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="main-content container-fluid">
    <h3>xxx xxxxxx xxx xxxxx xxxxxx xxxx xxx xxx xxxxxx xxxxx xxxxxxxxxx xxxxxx xx</h3>
    <h4>xxxxx xxx xxxxx xxx xxxxxx xxxx xxx xxxxxxxxx xxxx xxxx xxxxxxx xxxxxx xxxxxxxxxxxxxxxxxx</h4>

    <div class="row">

      <div class="card">
        <div class="card-header card-header-divider">
          <div class="card-title">
            <h3>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h3>
          </div>
        </div>
        <div class="card-body">
          <code>
            xxxxxx xxx xx xxxxxx xxxx xxxxxx xxx xxx xx xx xxxxx xx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
            xxxxxx xxxx xx xxxx xxx xxxxxxx xx xxxxx xxxxxx xxx xxxx xxxxxxx xxxx xxx xxxx xxx xxxxx xxxxx xxxxxxx xxxxxxx xxxxxxx xxx<br>
            x xxxxxxx xxxxxx xxxxxxxxxxxx xxxxx xx xxxxxx xxxxxxxxxxx xx xxx xxxx x xxxxxxx xxx xxxxx xxxx xxxx xxxxxxx xxxx xx xxxx<br>
            xx xxxxxx xxxxxxxxx xxx xxxxxxxx xxxxxxxx xxx xxxxxxx xxxxxxxxx xxxxxx xxx xxxxxx xx xxxxxxx xxx xxxx xxx xxxx xx xxx xxxxxxx<br>
            xxx xxxxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxx xxxx xxxxxxxxx xxxx xxxxxxxxxxx xxxx xx xxxx xxxxxxxxxxxxx xxxxxxxx xxx xxxxxxxxx<br>
            xxxxxxx xxx xxxxx xxxx xx xxxx xxxxxxxxx xxxx xxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxx xxxxx<br>
            xxxxxxxx xxxx xxxx xxxxxx xxxxxxxxxxxx xxxxxxxx x xxxxxxxx xxxxx xxxxxxxxxxxxxxxx xxxx xxx xxxxxxx xxxxxx xxx xx xxx xxx<br>
            xxxxxxxxxxxx xxxxxxxxxxxx xx xxxx xxxxxxx xxxxxxxxxxxxx xxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxx<br>
            xxxxxxxxx xxx xxxxxxxxxxxx xxxx xxxx xxxxxxx xxxx xxxxxx xxxxxxxxxxxxx xxxxx xxxxx xxxxx<br>
          </code>
          </div>
      </div>

      <div class="card">
        <div class="card-header card-header-divider">
          <div class="card-title">
            <h3>x xxxx xx xxx xxxx x xxxxxxxx xx xxx xxxxxxx</h3>
            <span class="card-subtitle">xxx xxxxx xxx xxxx xx xx xxxxx x xxxx xx xxxxx</span>
          </div>
        </div>
        <div class="card-body">
          <code>
           xxxx xxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxx xxxxxxxx xx xxx xxx xxx xxxxxx xx xxxxxxx xxxx xxx xxxx<br>
          xxxx xxxxx xxx xxxxx xxxxxxxxx xxxxxxx xx xx xxxxxxxx xxx xxxxx xxxxxx xxxxx xx xxx xxxxxxxx xxxx xxx xx xxxxxxxx xxxxxx<br>
          xxxxx xx xxxxxxxxxxx xxxxx xxxxx xxx xxxx xx xxx xxxx xx xxxxx x xxxxxxxx xxxxx xxxxx xxx xxxx xxx xxxxxxxx xxxxxxxxxxxxx<br>
          xxx xx xxxxxxxx xx xxxx xxxx xxx xxxxx xxxxxxxxxx xxx xx xxxxxxxxxxxx xx xxx xxxx xx xxx xxxxx xxxxxxxx xxx xxx xxxxxxxxx<br>
          xxxxxx xxxxxxxxxxx xxx xxxxxxxx xxxx xx xxxx xxxx xxxx xxx xxxxxxxxx</code>
        </div>
      </div>

      <div class="card">
        <div class="card-header card-header-divider">
          <div class="card-title">
            <h3>x xxxx xx xxx xxxx x xxxxxxxx xx xxx xxxxxxx</h3>
          </div>
        </div>
        <div class="card-body">
           <code>xxxxxxxxxxxx xxxx xxxxxx xxxxxxx xxx xxxxx xxxxx xxxx xx xxxxxx xxxx xxxx xx xx xxx xxxx xxx xxx xxx xxxx xxxx xxxxxx xxx<br>
          xxxxxxxxxxxx xxxxxxxxxxxx xxxxx xxxxxx xxxx xxx xxxx xxx xxx xxxxx xxxxxxxxxx xxxx xxx xxx xxxxxx xx xxxxxx xxxxxxxxx xxx<br>
          xxx xxx xxxx xxx xxxxxx xxxx xxxx xxxx xxx xxx xxxxxxxx xxxxxx xxxx xxxx xxx xxxxxxx xxxxxx xx xxxx xx xxx xxx xxxxxx xxxx<br>
          xxx xxxxxx xxx xxxxxxxxxxx xxxx xxxxxxx xxxx xxxx xxxxx xxx xxxxxx xxxxx xxx xxxxxxxxxxxxxx xxxxxxxxxx xxxxxx xxx xxxx xx<br>
          xxx xxx xxx xxxx xxxx xx xxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxx xxx xxxx xx xxx xxx xxxxxx xxxx xxxx xx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
          xxxxx xxxxxx xxxxxxx xxxx xxxxx xx xxx xxx xxxx xxx xxxx xxxxxxxxxxxxx xxxxxxx xxxxx xxxx x xxx xxxxx xxxxx xxxxxxx xxxxxx<br>
          xxxxx xx xxxx xx xxxx xx xxx xxx xxxxxxxxx xx xxx xxx xx xxxxxxxx xxx xxxx xxx xxx xxx xxxxxxxxxxxxxxxxxxxxxxx<br></code>
        </div>
      </div>

    </div>

  </div>

</div>
