<div class="be-content">
  <div class="page-head">
    <div class="page-head-left">
      <h2 class="page-head-title">How to Edit Website Content</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="main-content container-fluid">

    <div class="row">

      <div class="card">
        <div class="card-header card-header-divider">
          <div class="card-title">
            <h3>If you're looking to change the following:</h3>
          </div>
        </div>
        <div class="card-body">
          <code>
          xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxx<br>
          xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
          </code>
          <a href="google.com" class="btn btn-lg btn-primary">Read About Our PHP Framework</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header card-header-divider">
          <div class="card-title">
            <h3>I want to make a custom Nav Bar for a practice area or location</h3>
          </div>
        </div>
        <div class="card-body">
          <code>
          xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxx<br>
          xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
          </code>
        </div>
      </div>

    </div>

  </div>

</div>
