<div class="be-content">
  <div class="page-head">
    <div class="page-head-left">
      <h2 class="page-head-title">How to Use Web Services</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="main-content container-fluid">

    <div class="row">

      <div class="card">
        <div class="card-header card-header-divider">
          <div class="card-title">
            <h3>I need to clear a cache</h3>
          </div>
        </div>
        <div class="card-body">
            <code>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              <br>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
            </code>
        </div>
      </div>

      <div class="card">
        <div class="card-header card-header-divider">
          <div class="card-title">
            <h3>Add a page to the search index</h3>
          </div>
        </div>
        <div class="card-body">
          <code>
                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                        xxxx<br>
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                        xxxxx<br>
                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                    </code>
        </div>
        <div class="card-header card-header-divider">
          <div class="card-title">
            <h3>Delete or edit a page in the search index</h3>
          </div>
        </div>
        <div class="card-body">
          <code>
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxx<br>
                    xxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                xxxxx<br>
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
          </code>
        </div>
      </div>

    </div>

  </div>

</div>
