.stat-box {
  width: 25%;
  padding: 5px; }

.avatar {
  width: 80px;
  margin-right: 20px; }
  .avatar img {
    border-radius: 50%;
    width: 100%; }

.user-title {
  width: 300px; }

.user-stat {
  margin: 0 2em; }
