<div class="be-content">

  <div class="page-head">
    <div class="page-head-left">
      <h2 class="page-head-title">How the Build Pipeline Works</h2>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb page-head-nav">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="main-content container-fluid" >
    <div class="row">

      <div class="card">
        <div class="card-header card-header-divider">
          <div class="card-title">
            <h3>How does the website go from my computer to going live?</h3>
          </div>
        </div>
        <div class="card-body">
          <code>
          xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
              xxxxx<br>
          xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          </code>
        </div>
      </div>

      <div class="card">
        <div class="card-header card-header-divider">
          <div class="card-title">
            <h3>How do I use Github?</h3>
          </div>
        </div>
        <div class="card-body">

          <a href="https://www.google.com" class="btn btn-lg btn-primary">View The Quick Guide To Github</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header card-header-divider">
          <div class="card-title">
            <h3>Github Help!</h3>
          </div>
        </div>
        <div class="card-body">
          <p>This document contains a list of problems that you might encounter and instructions for fixing them</p>
          <a href="https://www.google.com" class="btn btn-lg btn-primary">Github Help</a>
        </div>
      </div>

    </div>
  </div>

</div>
